*{
    font-family:'Patrick Hand SC', 'Consolas', 'Arial';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;

    margin: 0;
    padding: 0;
}

:root{
    --gradient: linear-gradient(
        45deg, red, purple, blue
    );
    --toon-image-size: 100px;
    --toon-name-size: 2.2rem;
    --target-floor-text-size: 1.3rem;
    --trinkets-scale: scale(0.8);
    --random-item-scale: scale(0.6)
}

.header{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 900;
}

.long-text{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: var(--gradient);
    background-size: 150%;
    animation: bg-color 10s infinite alternate;
}

@keyframes bg-color {
    0% {
        background-position: left;
    }

    100%{
        background-position: right;
    }
}

.random-card{
    border: 7.5px outset hsla(0, 0%, 100%, 0.4);
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.25);

    margin: 2rem;
    min-width: 310px;

    text-align: center;
}

.random-card p{
    font-size: var(--toon-name-size);
    font-weight: 700;
    padding: 5px;
    

    transition: 0.3s ease;
}

.random-card #random-toon-image{
    width: var(--toon-image-size);
    height: var(--toon-image-size);

    margin-top: 0.5rem;

    transition: 0.4s ease-in-out;
}

#random-floor{
    font-size: var(--target-floor-text-size);
}

.random-trinket{
    transform: var(--trinkets-scale);
    transition: 0.2s ease-in-out;
}

.random-item{
    transform: var(--random-item-scale);
    transition: 0.3s ease-in-out;
}

.randomizer-button{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;

    background-color: hsla(0, 0%, 100%, 0.75);
    border: 3px outset hsla(0, 0%, 100%, 0.4);
    border-radius: 5px;

    transition: 0.2s ease;
}

.randomizer-button:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 5px 1px black;
}

.randomizer-button:active{
    transform: translateY(1px);
}

#hard-mode-checkbox{
    cursor: pointer;
    transform: scale(2);
    margin: 2rem;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 1.5rem;
}